version: "3"
services:
  db:
    container_name: mongodb
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./database:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 74SKjw!N
      MONGO_INITDB_DATABASE: TPO
      MONGO_USERNAME: user
      MONGO_PASSWORD: eUA8X2^1
    logging:
      driver: none
        

  backend:
    container_name: tpo_backend
    image: "nikp00/tpo_backend"
    build: ./backend
    restart: always
    volumes: [./backend:/usr/src/app]
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    container_name: tpo_frontend
    image: "nikp00/tpo_frontend"
    restart: always
    build: ./frontend
    volumes: [./frontend:/usr/src/app]
    ports:
      - "8080:8080"
    logging:
      driver: none
    depends_on:
      - db
      - backend
