version: "3"
services:
  db:
    container_name: mongodb
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ../database:/data/db
      - ./mongo-init.sh:/docker-entrypoint-initdb.d/mongo-init.sh:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 74SKjw!N
      MONGO_INITDB_DATABASE: TPO
      MONGO_USERNAME: user
      MONGO_PASSWORD: eUA8X2^1

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - 6379:6379
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes: [ ./redis/redis.conf:/usr/local/etc/redis/redis.conf ]

  backend:
    container_name: tpo_backend
    image: "nikp00/tpo_backend"
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

  frontend:
    container_name: tpo_frontend
    image: "nikp00/tpo_frontend"
    restart: always
    ports:
      - "8080:80"
    stdin_open: true
    depends_on:
      - db
      - redis
      - backend

  reverse_proxy:
    container_name: reverse_proxy
    image: nginx:1.17.10
    volumes:
      - ./reverse_proxy/nginx.conf:/etc/nginx/nginx.conf
      - ./reverse_proxy/certs:/etc/nginx/certs
    ports:
      - 80:80
      - 443:443
    depends_on:
      - db
      - redis
      - backend
      - frontend
