name: Manual Build Docker Images

on: workflow_dispatch


jobs:
  Build-docker-and-push:
    name: Build Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create env files for node
        working-directory: ./backend/src/
        run: |
          touch .env
          echo DB_CONNECT=${{ secrets.DB_CONNECT }} >> .env
          echo JWT_SECRET=${{ secrets.JWT_SECRET }} >> .env
          echo REDIS_CONNECT=${{ secrets.REDIS_CONNECT }} >> .env
          echo JWT_EXP=${{ secrets.JWT_EXP }} >> .env
          echo JWT_EXP_REFRESH=${{ secrets.JWT_EXP_REFRESH }} >> .env
          pwd
          ls -al
          cat .env

      - name: Docker build images
        working-directory: ./utils/deploy_images/
        run: docker-compose build

      - name: Docker push
        run: docker-compose push

      - name: Invoke deployment hook
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
