name: Build Docker Images

on:
  push:
    branches: [master]

jobs:
  Build-docker-and-push:
    name: Build Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker build images
        working-directory: ./utils/deploy_images/
        run: docker-compose build

      - name: Docker push
        run: docker-compose push
        
      - name: Webhook
        uses: distributhor/workflow-webhook
        with:
          url: "http://157.230.113.194:9000/hooks/deploy"
          json: '{ "key": "${{ secrets.WEBHOOK_KEY }}" }'
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
